@charset "UTF-8";

/* Named Selector
-------------------------------------------------- */
h2 {
    color: red;
    font-style: italic;
}

/* ID Selector
-------------------------------------------------- */
#project {
    color: olive;
}

/* Class Selector
-------------------------------------------------- */
.about {
    background-color: lightgrey;
}

/* Contextual / Descendant Selector
-------------------------------------------------- */
section p {
    color: darkorange;
}
.subproject p {
    color: darkblue;
}

/* Grouped Selector
-------------------------------------------------- */
h1, h2, h3 {
    font-family: sans-serif;
}

/* Pseudo-class Selector
-------------------------------------------------- */
a:link{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}
a:visited{
    color: red;
}
a:focus {
    color:yellow;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: darkorange;
}

/* Structual Pseudo-class Selector
-------------------------------------------------- */
li:nth-child(3) {
    background-color: white;
}
li:nth-of-type(odd){
    font-weight: bold;
}
article section:last-of-type {
    background: lightblue;
}
/*sibling and Pseudo-Element Selector
-------------------------------------------------- */
h1 + p::first-line{ 
    text-transform: uppercase;
}